---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
---
<Layout>
<div class="text-white text-center px-6">
<h1 class="text-white text-6xl font-extrabold text-center leading-tight mb-6">
¿Qué es Mitos y Leyendas?
</h1>

<h2 class="text-justify text-lg leading-relaxed max-w-4xl mx-auto">
      Mitos y Leyendas es un TCG (Trading Card Game) de origen chileno que combina culturas y leyendas de todo el mundo.<br />
      En él podrás encarnar a los personajes más míticos de cada suceso histórico o relato ancestral,<br />
      recorriendo su camino hacia la victoria mediante distintos tipos de cartas.<br /><br />
    
      Aliados, quienes atacan, defienden y debilitan a tu oponente con sus habilidades únicas;<br />
      Talismanes, poderosos hechizos que cambian el rumbo de la batalla y permiten asombrosas combinaciones;<br />
      Armas, listas para ser empuñadas y causar devastación;<br />
      y Tótems, estructuras de apoyo que fortalecen a tus aliados y te ayudan a imponerte ante el enemigo.
</h2>

<div class="flex justify-center mt-10">
<img src="/mitos.jpg" alt="Mitos y Leyendas" class="rounded-2xl shadow-lg max-w-full md:max-w-3xl" />
</div>
</div>
</Layout>
