---

---
<footer class="bg-gradient-to-r from-green-800 to-lime-500 text-white p-8">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Columna 1 -->
      <div>
        <h2 class="text-lg font-bold">Blog Myl</h2>
        <p>El juego numero 1 del Reino.</p>
      </div>
  
      <!-- Columna 2 -->
      <div>
        <h2 class="text-lg font-bold">Enlaces Rápidos</h2>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/eventos">Eventos</a></li>
        </ul>
      </div>
  
      <!-- Columna 3 -->
      <div>
        <h2 class="text-lg font-bold">Contacto</h2>
        <p>Santiago, Chile</p>
        <p>+569 1234 5678</p>
        <p>soyuncorreodemitosyleyendas@myl.com</p>
      </div>
    </div>
  
    <div class="text-center mt-6 border-t border-white/20 pt-4">
      © 2025 Licencia. Todos los derechos reservados.
    </div>
  </footer>
  